@model CMSContext
@using LeadGen.Code.CMS;
@section SEO{@{Html.RenderPartial("DisplayTemplates/SEOFields", Model.post.SEO); }}
@section CustomCSS{@{Html.RenderPartial("DisplayTemplates/CustomCSS", Model.post.customCSS); }}
<article>
    <h1>@Model.post.title</h1>
    @{
        //string orderLink = Url.RouteUrl("LeadPublic", new { area = "", id = 111 }, Context.Request.Scheme);
    }
    @Html.Raw(Model.post.contentIntro)
    @Html.Raw(Model.post.contentPreview)
    @Html.Raw(Model.post.contentMain)
    @Html.Raw(Model.post.contentEnding)
</article>

<nav>
    @if (Model.widgets != null)
    {
        Post teaserWidget = Model.widgets.FirstOrDefault(x => x.postURL == "kak-zakazat-pamyatnik-i-ne-pereplatit");
        if (teaserWidget != null)
        {
            Html.RenderPartial("Widgets/_TeaserWithBackground", teaserWidget);
        }
    }
</nav>

@if (Model.widgetsLayoutSidebarRight != null && Model.widgetsLayoutSidebarRight.Any())
{
    @section Sidebar{
        @foreach (Post widget in Model.widgetsLayoutSidebarRight)
        {
            Html.RenderPartial("Widgets/_WidgetLayout", widget);
        }
    }
}

