@model LeadGen.Code.Taxonomy.Taxonomy

<div class="modal fade" id="TaxonomyEditPopUp">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add new taxonomy</h4>
            </div>

            @using (Html.BeginForm("TaxonomyEdit", null, null, FormMethod.Post, true, new
            {
                data_ajax = "true",
                data_ajax_success = "TaxonomyEditHandler",
            }))
{
        @Html.HiddenFor(x => x.ID)
        <span>@Html.ValidationSummary()</span>

        <div class="modal-body">

            <div class="row">
                <div class="form-group col-sm-5">
                    @Html.LabelFor(x => x.name)
                    @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.name)
                </div>
                <div class="form-group col-sm-5">
                    @Html.LabelFor(x => x.code)
                    @Html.TextBoxFor(x => x.code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.code)
                </div>
                <div class="form-group col-sm-2">
                    @Html.LabelFor(x => x.isTag)
                    @Html.CheckBoxFor(x => x.isTag)
                    @Html.ValidationMessageFor(x => x.isTag)
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" style="width:126px">Create</button>
        </div>
}

        </div>
    </div>
</div>


<script>
    var popUpID = "TaxonomyEditPopUp";

    //Validate dynamicly added form
    $.validator.unobtrusive.parse("#" + popUpID + " form")

    //Show modal form
    $("#" + popUpID).modal('show');

    function TaxonomyEditHandler(data, status, xhr) {
        //Romove modal-backdrop after previously shown modal panel
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        if (status == "success" && data == "") {
            //Reload the page to display new term
            location.reload();
        }
        else {
            //Reload wrapper with new html
            $("#" + popUpID).parent().html(data)
        }

    }
</script>