@model LeadGen.Code.Business.Contact

@{string formID = "UpdateLoginBusinessContactForm";}
@using (Html.BeginForm("LoginBusinessContactUpdate", null, null, FormMethod.Post, true, new
{
    @class = "form-horizontal",
    id = formID,
    data_ajax = "true",
    data_ajax_update = "#" + formID,
    data_ajax_mode = "replace-with",
    data_ajax_loading = "#LoadingWindowSplash",
    data_ajax_success = "LeadGen.ui.showNotificationLabel"
}))
{
    <div class="well well-sm">
        Контакты представителя, ответственного за сотрудничество
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.phone, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.skype, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.skype, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.skype, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </div>

    if (ViewBag.status == true)
    {
        <script>LeadGen.ui.showNotificationLabel();</script>
    }
}