@model IEnumerable<LeadGen.Code.Business.Inovice.Invoice>

@{
    ViewBag.Title = "List";
}

<h2>Invoice List</h2>

@using (Html.BeginForm("List", "Invoice", FormMethod.Get, new { @class = "form-inline", style = "margin-top:20px;" }))
{
    @Html.Label("invoiceID")
    @Html.TextBox("invoiceID", null, new { @class = "form-control", style = "width:80px; margin-right:10px;" })
    @Html.Label("legalNumber")
    @Html.TextBox("legalNumber", null, new { @class = "form-control", style = "width:80px; margin-right:10px;" })
    @Html.Label("businessID")
    @Html.TextBox("businessID", null, new { @class = "form-control", style = "width:80px; margin-right:10px;" })
    @Html.Label("legalYear")
    @Html.TextBox("legalYear", null, new { @class = "form-control", style = "width:80px; margin-right:10px;" })

    @Html.Label("isPublished")
    @Html.DropDownList("isPublished", new SelectListItem[] {new SelectListItem{ Text = "Yes",Value = "TRUE"}, new SelectListItem {Text = "No", Value = "FALSE"}}, "All", new { @class= "form-control", style = "margin-right:10px;" })
    @Html.Label("isPaid")
    @Html.DropDownList("isPaid", new SelectListItem[] { new SelectListItem { Text = "Yes", Value = "TRUE" }, new SelectListItem { Text = "No", Value = "FALSE" } }, "All", new { @class = "form-control", style = "margin-right:10px;" })




    <input type="submit" value="Filter" class="btn btn-primary" />
}

<table class="table" style="margin-top:20px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.businessID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.legalNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.legalYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.legalMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paidDateTime)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ID.ToString(), "Show", "Invoice", new {invoiceID = item.ID}, null)
        </td>
        <td>
            @Html.ActionLink(item.businessID.ToString(), "Details", "Business", new { ID = item.businessID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.legalNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.legalYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.legalMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publishedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paidDateTime)
        </td>
    </tr>
}

</table>
