@model LeadGen.Code.Login
@using LeadGen.Code.Taxonomy
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Business Registration";

    List<Term> countries = ViewBag.countries;
}

<div class="container box">

    <h2>Business Registration</h2>

    @using (Html.BeginForm("Registration"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.business.country.ID)
<div class="form" style="position: relative;">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(x => x.business.name, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.business.name, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.business.name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.email, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.email, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.business.webSite, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.business.webSite, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.business.webSite, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.business.locations[0].Location.Name, "Business Area", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(x => x.business.locations[0].Location)
        @Html.ValidationMessageFor(x => x.business.locations[0].Location.Name, "", new { @class = "text-danger" })
    </div>

<div class="form-group">
    <div class="form-group AgreeWithSystemTerms">
        <label class="control-label">I agree with <a href='/business-terms-and-conditions' target="_blank">terms and conditions</a></label>
        @Html.CheckBox("AgreeWithSystemTerms", false, htmlAttributes: new { @class = "form-control" })
    </div>
    @Html.ValidationMessage("AgreeWithSystemTerms", "", new { @class = "text-danger" })
</div>

    <div class="form-group registration-action-buttons">
        <input type="submit" value="Register" class="btn btn-black" />
    </div>

</div>
    }
</div>

<style>
    .location-meta-fiels {
        display: none;
    }
    .form-group.AgreeWithSystemTerms {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
        .form-group.AgreeWithSystemTerms label {
            margin-bottom: 0;
        }
        .form-group.AgreeWithSystemTerms input[type="checkbox"] {
            width: 43px;
            display: inline-block;
            margin: 0 0 0 20px;
        }

    .registration-action-buttons{
        margin-top: 40px;
        text-align: center;
    }
    .registration-action-buttons .btn-default{
        position:absolute;
        left: 0;
    }
    .registration-action-buttons .btn-black{
        min-width: 50%;
    }
    @@media (max-width: 576px) {
        .registration-action-buttons .btn-black{
            min-width: 45%;
        }
    }

</style>

@section Scripts
{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });
        })
    </script>
}