@model LeadGen.Code.Business.Inovice.Invoice

@{ 
    DateTime paidDateTime = Model.paidDateTime.Value;
}

<div class="invoice_content">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <div style="padding-left:2px; font-weight:bold; margin-bottom:20px;">
                        <div style="text-decoration:underline">
                            @Model.legalBilling.name
                        </div>
                        Адрес: @Model.legalBilling.address
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="font-weight: bold; font-size: 16pt; text-align:center;">
        Акт № @Model.legalFacturaNumber от @paidDateTime.Day @paidDateTime.ToString("MMMM") @paidDateTime.Year г.
    </div>
    <br>
    <table width="100%">
        <tbody>
            <tr>
                <td style="width: 30mm;">
                    <div style="padding-left:2px;">Заказчик:    </div>
                </td>
                <td>
                    <div style="padding-left:2px;">
                        @Model.buisnessBilling.name
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="invoice_items" width="100%" cellpadding="2" cellspacing="2">
        <thead>
            <tr>
                <th style="width:13mm;">№</th>
                <th>Товар</th>
                <th style="width:17mm;">Ед.</th>
                <th style="width:20mm;">Кол-во</th>
                <th style="width:27mm;">Цена</th>
                <th style="width:27mm;">Сумма</th>
            </tr>
        </thead>
        <tbody>
                @{
                    int lineNumber = 0;
                    foreach (var line in Model.lines)
                    {
                        lineNumber++;
                        <tr>
                            <td align="center">@lineNumber</td>
                            <td align="left">@line.description</td>
                            <td align="center">усл.</td>
                            <td align="right">@line.quantity</td>
                            <td align="right">@line.unitPrice.ToString("F")</td>
                            <td align="right">@line.linePrice.ToString("F")</td>
                        </tr>
                    }
                }
            <tr>
                <td colspan="5" style="font-weight:bold;  text-align:right; border-left: 1px solid #FFF; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF;">Итого:</td>
                <td style="font-weight:bold;  text-align:right;">@Model.lines.Sum(x => x.linePrice).ToString("F")</td>
            </tr>
            <tr>
                <td colspan="5" style="font-weight:bold;  text-align:right; border-left: 1px solid #FFF; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF;">Без налога (НДС).</td>
                <td style="font-weight:bold;  text-align:right;"> - </td>
            </tr>
            <tr>
                <td colspan="5" style="font-weight:bold;  text-align:right; border-left: 1px solid #FFF; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF;">Всего (с учетом НДС):</td>
                <td style="font-weight:bold;  text-align:right;">@Model.totalSum.ToString("F")</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>
    <div style="font-style:italic">
        Всего оказано услуг на сумму: @Model.totalSumStr, в т.ч.: НДС - ноль рублей 00 копеек.
    </div>
    <br>
    <div>
        Вышеперечисленные услуги выполнены полностью и в срок. Заказчик претензий по объему, качеству и срокам оказания услуг не имеет.
    </div>

    <br>
    <br>
    <br>

    <div>
        <div style="float:left;">
            <img src="~/Content/themes/izgpam/signatures/nikitina_sign.png" class="boss_sign" style="margin-left: 115px; width: 170px; height:45px;" />
            Рекламист: _____________________________
            <div style="font-size: 7pt; margin-left:175px;">подпись</div>
            <div style="font-size: 10pt; margin-left:175px; margin-top:10px; height:70px;">
                М.П.
                <div style="position: absolute; margin-top: -17px; margin-left: 40px;">
                    Печать<br> отсутствует
                </div>
            </div>
        </div>


        <div style="float:right;">
            Заказчик: _____________________________
            <div style="font-size: 7pt; margin-left:175px;">подпись</div>
            <div style="font-size: 10pt; margin-left:175px; margin-top:10px;">М.П.</div>
        </div>

        <div style="clear:both">&nbsp;</div>

    </div>
</div>