@model LeadGen.Code.Business.Billing

<div class="row">
    <div class="form-group col-xs-12">
        @Html.LabelFor(x => x.name)
        @Html.DisplayFor(x => x.name)
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12">
        @Html.LabelFor(x => x.code1)
        @Html.DisplayFor(x => x.code1)
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12">
        @Html.LabelFor(x => x.code2)
        @Html.DisplayFor(x => x.code2)
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12">
        @Html.LabelFor(x => x.address)
        @Html.DisplayFor(x => x.address)
    </div>
</div>