@model PagedList.Core.IPagedList<LeadGen.Code.Lead.LeadItem>
@using PagedList.Core.Mvc;
@using LeadGen.Code.Lead;

@{
    ViewBag.Title = "OrderList";
    AdminDetails.Status[] displayStatuses = new AdminDetails.Status[] {
        AdminDetails.Status.ReadyToPublish,
        AdminDetails.Status.NotConfirmed,
        AdminDetails.Status.Canceled,
        AdminDetails.Status.Published,
        AdminDetails.Status.NotInWork,
        AdminDetails.Status.InWork,
        AdminDetails.Status.Important,
        AdminDetails.Status.Completed
    };

    AdminDetails.Status currentStatus = ViewBag.status;
    long? leadID = ViewBag.leadID;
    DateTime? publishedFrom = ViewBag.publishedFrom;
    publishedFrom = null;
    DateTime? publishedTo = ViewBag.publishedTo;
    string query = ViewBag.query;
}

<h2>OrderList</h2>

<ul class="nav nav-tabs nav-orders">
    @foreach (AdminDetails.Status status in displayStatuses)
    {
        IHtmlContent tabLink = Html.ActionLink(AdminDetails.statusDictionary[status], "List", new { status = status });
        string tabClassName = (status == currentStatus) ? "active" : "";
        <li role='presentation' class='@tabClassName'>@tabLink</li>
    }
</ul>

<div class="row" style="margin-top:10px;">
    @using (Html.BeginForm("List", "Lead", FormMethod.Get, null))
    {
        @Html.Hidden("status", currentStatus)
        <div class="col-sm-1 form-group">
            @Html.Label("leadID", "Заявка")
            @Html.TextBox("leadID", leadID, new { @class = "form-control", placeholder = "№" })
        </div>
        <div class="col-sm-3  form-group">
            @Html.Label("publishedFrom", "Опубликовано с")
            @Html.TextBox("publishedFrom", publishedFrom, new { @class = "form-control datetimepicker", placeholder = DateTime.Today.AddYears(-1).ToShortDateString() })
        </div>
        <div class="col-sm-3  form-group">
            @Html.Label("publishedTo", "Опубликовано до")
            @Html.TextBox("publishedTo", publishedTo, new { @class = "form-control datetimepicker", placeholder = DateTime.Today.ToShortDateString() })
        </div>
        <div class="col-sm-4  form-group">
            @Html.Label("query", "Текст")
            @Html.TextBox("query", query, new { @class = "form-control", placeholder = "Текст..." })
        </div>
        <div class="col-sm-1  form-group">
            @Html.Label("", "submit", new { style = "visibility: hidden;" })
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    }
</div>

<table class="table">
    @Html.DisplayFor(x => x)
</table>

<pager class="pager-container" asp-action="List" list="@Model" options="ViewHelpers.PagedListRenderOptionsLeadGen(@Model)"
       asp-route-status="@currentStatus" asp-route-leadID="@leadID.ToString()" asp-route-publishedFrom="@publishedFrom" asp-route-publishedTo="@publishedTo" asp-route-query="@query" />
