@model LeadGen.Code.Login
@{string formID = "SendPasswordRestoreEmailForm";}
@using (Html.BeginForm("SendPasswordRestoreEmail", null, null, FormMethod.Post, true, new { id = formID, @class = "form-horizontal", data_ajax = "true", data_ajax_update = "#" + formID, data_ajax_mode = "replace-with" }))
{
    @Html.AntiForgeryToken()

    <h4>Password Reset</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(x => x.email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.email, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" value="Send email for password reset" class="btn btn-black" style="margin:20px auto;" />

    if (ViewBag.status == true)
    {
        <script>
            bootbox.alert({
                title: "Email sent",
                message: "To reset the password, click the link sent to @Model.email"
            });
        </script>
    }
}