@model LeadGen.Code.Lead.LeadItem
@{string formID = "LeadConfirationForm";}
@using (Html.BeginForm("Confirm", null, null, FormMethod.Post, true, new
{
    @class = "form-horizontal",
    id = formID,
    data_ajax = "true",
    data_ajax_loading = "#LoadingWindowSplash",
    data_ajax_mode = "replace-with",
    data_ajax_update = "#" + formID
}))
{
    @Html.AntiForgeryToken()
    <div class="title-group">
        <h1>Please review your order</h1>
    </div>

    @Html.DisplayFor(x => x.fieldGroups, new { leadItem = Model })

    <hr />

    <div class="lead_field_group lead_field_group_system_terms">
        <div class="form-group">
            <label class="col-xs-5">I agree with <a href='/terms-and-conditions' target="_blank" style="color: #2780e3;">terms and conditions</a></label>
            <div class="col-xs-7">
                @Html.CheckBox("AgreeWithSystemTerms", false)
                @Html.ValidationMessage("AgreeWithSystemTerms")
            </div>
        </div>
    </div>


    <hr />

    @Html.Hidden("GoBackToOrder", false, new { id = "GoBackToOrder" })
    <div class="lead-btn-group">
        <button id="GoBackToOrderBtn" type="submit" class="btn btn-default" onclick="$('#GoBackToOrder').val('True')">Back</button>
        <button type="submit" class="btn btn-black">Confirm</button>
    </div>

    <script>
        if (window.location.hash != "review") {
            window.location.hash = "review"
            setTimeout(function () {
                var fn = function () {
                    window.removeEventListener('hashchange', fn, false);
                    $("#GoBackToOrderBtn").click();
                }
                window.addEventListener('hashchange', fn, false);
            }, 200);
        }
    </script>
}



