@model LeadGen.Code.Lead.FieldGroup
    <div id="fieldGroup-@Model.ID" data-groupID="@Model.ID" data-groupCode="@Model.code" class="lead_field_group lead_field_group_@Model.code">
        <h3>@Model.title</h3>
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.code)
        @Html.HiddenFor(x => x.title)
        @Html.EditorFor(x => x.fields)
        @if (Model.code == "contacts")
        {
            LeadGen.Code.Lead.LeadItem leadItem = ViewData["leadItem"] as LeadGen.Code.Lead.LeadItem;
            Html.RenderPartial("EditorTemplates/LeadEmail", leadItem);
                        //var viewData = new ViewDataDictionary(ViewData);
            //viewData.TemplateInfo = null;
            //{
            //    TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "" }
            //};
        }
    </div>