@model Dictionary<Review.Measure, short>
@using LeadGen.Code.Lead
@*~/Content/bootstrap-star-rating/examples/index.html*@
@{
    int j = 0;
    string measureScoresName = Html.NameForModel();
    Dictionary<Review.Measure, string> measureNames = ViewData["measureNames"] as Dictionary<Review.Measure, string>;
    foreach (KeyValuePair<Review.Measure, short> item in Model)
    {
        string displayMeasureName = (measureNames != null && measureNames.ContainsKey(item.Key)) ? measureNames[item.Key] : item.Key.ToString();
        int starNumber = item.Value / 2;
        <div class="form-group">
            @Html.Label(string.Format("{0}[{1}].key", measureScoresName, j), displayMeasureName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" name="@(string.Format("{0}[{1}].key", measureScoresName, j))" value="@item.Key" />
                <input type="hidden" class="rating-input" name="@(string.Format("{0}[{1}].value", measureScoresName, j))" value="@starNumber" />
                @Html.ValidationMessage(string.Format("{0}[{1}].value", measureScoresName, j), "", new { @class = "text-danger" })
            </div>
        </div>
        j++;
    }
}