@model LeadGen.Code.Lead.Review
@using LeadGen.Code.Business

@{ 
    List<Business> businesses = (List<Business>)ViewData["businesses"];
}
<tr>
    <td>
        <div>
            #@Html.ActionLink(Model.leadID.ToString(), "Lead", new { ID = Model.leadID }, new { @class = "" })
            @(String.Format("{0}", Model.reviewDateTime.ToShortDateString()))
            <div>
                @Html.ActionLink("Edit", "Edit", new { ID = Model.leadID }, new { @class = "btn btn-default" })
            </div>
        </div>
    </td>
    <td>
        @Model.authorName
    </td>
    <td width="30%">
        @Html.Raw(Model.reviewText)
    </td>
    <td>
        @{ 
            if (Model.businessID != null)
            {
                Business business = businesses.First(x => x.ID == Model.businessID);
                <div>
                    @Html.ActionLink(string.Format("#{0} {1}", business.ID, business.name), "Details", "Business", new {ID = business.ID }, null)
                </div>
            }
            else if (string.IsNullOrEmpty(Model.otherBusinessName) == false)
            {
                <div>@Model.otherBusinessName</div>
            }
            else
            {
                <div>Ещё не исполнена</div>
            }
        }
    </td>
    <td width="20%">
        @foreach (var item in Model.measureScores)
        {
            if (item.Value < 1)
            {
                continue;
            }
            <div>@item.Key.ToString() - @item.Value</div>
        }
    </td>
    <td id="ActionForLeadID-@Model.leadID">
        @await Html.PartialAsync("_LeadAction", Model)
    </td>
</tr>