@model LeadGen.Code.CMS.Post
@using LeadGen.Code.CMS;

@{
    ViewBag.Title = "PostEdit";
}

<div id="post-edit-page">

    <!--Ajax Upload POPUP -->
    <div id="PopUp"></div>

    <!--Image Upload POPUP -->
    <div class="modal fade" id="AttachmentsUploadPopUp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                @using (Html.BeginForm("AttachmentsUpload", null, new { PostID = Model.ID }, FormMethod.Post, true, new { id = "uploader", enctype = "multipart/form-data" }))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">AttachmentsUpload</h4>
                    </div>

                    <div class="modal-body">
                        <p>Select Files</p>
                        <input type="file" id="filesToUpload" name="filesToUpload" value="" multiple="multiple" />
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="width:126px">Upload</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <h2>
        @Html.ActionLink(String.Format("< Manage {0}", Model.postType.name), "PostList", new { typeID = Model.postType.ID, statusID = Model.postStatus.ID }, new { style = "margin-right:10px;" })
        @Model.postType.name Post #@Model.ID
    </h2>

    @using (Html.BeginForm("PostEdit", null, null, FormMethod.Post, true,
new
{
   data_ajax = "true",
   data_ajax_loading = "#LoadingWindowSplash",
   data_ajax_update = "#PostEditFormContent",
   data_ajax_mode = "replace",
   data_ajax_complete = "LeadGen.PostEdit.init"
}))
    {
        <div id="PostEditFormContent">
            @Html.EditorFor(x => x)
        </div>
    }
</div>

@section Scripts
    {
    <script src="~/js/LeadGen-PostEdit.js"></script>
    <script>
        LeadGen.PostEdit = LeadGen.PostEdit || {};
        LeadGen.PostEdit.PostTypeID = "@Model.postType.ID";
        LeadGen.PostEdit.SearchPostsJsonUrl = "@Url.Action("SearchPostsJson", "CMS", new { area = "admin"})";

        LeadGen.PostEdit.init();
    </script>
}