@model X.PagedList.IPagedList<Post>
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@using LeadGen.Code.CMS

@{
    CMSContext cmsContext = ViewBag.CMSContext;
    @section SEO{@{ Html.RenderPartial("DisplayTemplates/SEOFields", cmsContext.post.SEO); } }
    @section CustomCSS{@{ Html.RenderPartial("DisplayTemplates/CustomCSS", cmsContext.post.customCSS); } }
}

<h1>@cmsContext.post.title</h1>
@Html.Raw(cmsContext.post.contentIntro)
@Html.Raw(cmsContext.post.contentPreview)
@Html.Raw(cmsContext.post.contentMain)
@Html.Raw(cmsContext.post.contentEnding)

@*@Html.DisplayFor(x => x)*@
<div class="row ThumbnailGrid">
    @for (int i = 0; i < Model.Count(); i++)
    {
        @Html.DisplayFor(x => x[i], "Post_Thumbnail_Grid")
    }
</div>


@Html.PagedListPager(Model,
    page => Url.Action("Index", new { urlPath = String.Format("{0}/page/{1}", cmsContext.urlPath, page) }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, ContainerDivClasses = new string[] { "text-center" } }
)


@if (cmsContext.widgetsLayoutSidebarRight != null && cmsContext.widgetsLayoutSidebarRight.Any())
{
    @section Sidebar{
        @foreach (Post widget in cmsContext.widgetsLayoutSidebarRight)
        {
            Html.RenderPartial("Widgets/_WidgetLayout", widget);
        }
    }
}