@model IEnumerable<LeadGen.Code.Taxonomy.Taxonomy>

@{
    ViewBag.Title = "Index";
}

<div id="PopUp"></div>

<h2>
    Taxonomies 
    @Ajax.ActionLink("Create Taxonomy", "TaxonomyEdit", null, new AjaxOptions() { InsertionMode = InsertionMode.Replace, LoadingElementId = "LoadingWindowSplash", UpdateTargetId = "PopUp", HttpMethod = "GET" }, new { @class = "btn btn-primary pull-right" })
</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Ajax.ActionLink(item.name, "TaxonomyEdit", new { taxonomyID = item.ID }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, LoadingElementId = "LoadingWindowSplash", UpdateTargetId = "PopUp", HttpMethod = "GET" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.ActionLink("Terms", "Terms", new { taxonomyID=item.ID }, new {style= "font-weight: bold;" })
        </td>
    </tr>
}

</table>
