@model LeadGen.Code.Business.LeadPermittion
@{
    string targetID = String.Format("lead-permission-{0}", Model.ID);
}
<tr id="@targetID">
    <td>@Model.ID</td>
    <td>
        @if (Model.approvedDateTime == null)
        {
            @Ajax.ActionLink("Approve", "PermissionManage", new { permittionID = Model.ID, businessID = ViewData["businessID"], doAction = "approve" }, new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, LoadingElementId = "LoadingWindowSplash", UpdateTargetId = targetID, HttpMethod = "Post" })
        }
        else
        {
            @Ajax.ActionLink("Cancel", "PermissionManage", new { permittionID = Model.ID, businessID = ViewData["businessID"], doAction = "approve-cancel" }, new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, LoadingElementId = "LoadingWindowSplash", UpdateTargetId = targetID, HttpMethod = "Post" })
        }
    </td>
    <td>@if (Model.requestedDateTime != null) {@Model.requestedDateTime.Value.ToLongDateString() }</td>
    <td>@if (Model.approvedDateTime != null){@Model.approvedDateTime.Value.ToLongDateString() }</td>
    <td>@String.Join(" and ", Model.terms.Select(x=>x.name))</td>
</tr>