@model LeadGen.Code.Lead.LeadItem

@Html.HiddenFor(x=>x.ID)

@Html.EditorFor(x => x.fieldGroups)

<div class="form-group">
    @Html.LabelFor(x => x.email, "E-mail")
    @Html.TextBoxFor(x => x.email, new { @class = "form-control", placeholder = "mail@mail.ru" })
    @Html.ValidationMessageFor(x => x.email)
</div>

@Html.ValidationSummary()


@{
    bool? nofificationStatus = ViewBag.NofificationStatus as bool?;
    if (nofificationStatus == true)
    {
        <script>LeadGen.ui.showNotificationLabel();</script>
    }
    else if (nofificationStatus == false)
    {
        <script>
            var errorText = $(".validation-summary-errors").html();
            LeadGen.ui.showNotificationLabel(errorText, 'danger');
        </script>
    }
}