@model IEnumerable<LeadGen.Code.CMS.Post>
    <div class="cms-widget-raw-contnet-items">
        @foreach (LeadGen.Code.CMS.Post post in Model)
        {
            await Html.RenderPartialAsync("DisplayTemplates/CustomCSS", post.customCSS);
            <div class="cms-widget-raw-contnet-wrapper posturl_@post.postURL">
                <div class="cms-widget-raw-contnet">
                    <h3>@post.title</h3>
                    <div class="raw-contnet">
                        @Html.Raw(post.contentIntro)
                        @Html.Raw(post.contentPreview)
                        @Html.Raw(post.contentMain)
                        @Html.Raw(post.contentEnding)
                    </div>
                </div>
            </div>
        }
    </div>
