@model LeadGen.Code.CMS.Post

<div class="cms-widget-raw-contnet">
    <h3>@Model.title</h3>
    <div>
        @Html.Raw(Model.contentIntro)
        @Html.Raw(Model.contentPreview)
        @Html.Raw(Model.contentMain)
        @Html.Raw(Model.contentEnding)
    </div>
</div>
