@model LeadGen.Code.CMS.Post

<div class="box post-type-widget">
    <h3 class="title line-default">@Model.title</h3>
    <div>
        @Html.Raw(Model.contentIntro)
        @Html.Raw(Model.contentPreview)
        @Html.Raw(Model.contentMain)
        @Html.Raw(Model.contentEnding)
    </div>
</div>
