@model LeadGen.Code.CMS.Post
@using LeadGen.Code.CMS
@using LeadGen.Code.Taxonomy
<div class="item col-xs-6 col-sm-4 @*col-md-3*@">
    <h3><a href="@Model.Url">@Model.title</a></h3>
    @{
        if (Model.thumbnailAttachmentID != null)
        {
            <a href='@Model.Url'>
                <img src="@Model.thumbnailUrl" class="img-responsive img-thumbnail" />
            </a>
        }
        else
        {
            <a href='@Model.Url'>
                <img src="~/Content/themes/izgpam/empty_thumbnail.png"  class="img-responsive img-thumbnail" />
            </a>
        }
    }
    <div class="meta">
        @Html.DisplayFor(x => x.taxonomies, new { termsOnly = true})
    </div>
</div>

