@model LeadGen.Code.Business.Inovice.InvoiceLine

<tr>
    <td>
        @Html.DisplayFor(x => x.ID)
    </td>
    <td>
        @Html.DisplayFor(x => x.description)
    </td>
    <td>
        @Html.DisplayFor(x => x.unitPrice)
    </td>
    <td>
        @Html.DisplayFor(x => x.quantity)
    </td>
    <td>
        @Html.DisplayFor(x => x.linePrice)
    </td>
    <td>
        @Html.DisplayFor(x => x.tax)
    </td>
    <td>
        @Html.DisplayFor(x => x.lineTotalPrice)
    </td>
</tr>