@using LeadGen.Code.Taxonomy
@using LeadGen.Code.CMS
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    @RenderSection("SEO", required: false)
    <link href="~/lib/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/node_modules/bootstrap-datetimepicker-npm/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/lib/node_modules/lightbox2/dist/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/lib/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("CustomCSS", required: false)
</head>
<body>
    @{
        string link1URL = Url.Action("Index", "CMS", new { urlPath = "about", area = "" });
        string link1Text = "Link1";
        string link2URL = Url.Action("Index", "CMS", new { urlPath = "kladbisha", area = "" });
        string link2Text = "Link2";
        string link3URL = Url.Action("Index", "CMS", new { urlPath = "na-mogilu", area = "" });
        string link3Text = "Link3";
        string link4URL = Url.Action("Index", "CMS", new { urlPath = "znamenitostyam", area = "" });
        string link4Text = "Link4";

        CMSContext cmsContext = ViewBag.cmsContext;
        if (cmsContext?.regionCity?.termURL != null)
        {
            link1URL = Url.Action("Index", new { urlPath = String.Format("gorod/{0}", cmsContext.regionCity.termURL), area = "" });
            link2URL = Url.Action("Index", new { urlPath = String.Format("kladbisha/{0}", cmsContext.regionCity.termURL), area = "" });

            if (cmsContext.regionCity.words != null && cmsContext.regionCity.words.Keys.Contains("region"))
            {
                link1Text = link1Text + " " + cmsContext.regionCity.words["region"].genitiveSingular;
                link2Text = link2Text + " " + cmsContext.regionCity.words["region"].genitiveSingular;
            }
        }
    }

    <nav class="navbar navbar-default navbar-leadgen" role="navigation">
        <div class="container">
            <div class="navbar-header">



                <div class="navbar-brand">
                    <a title="Home" href="@Url.Action("Index", "CMS", new { urlPath = "" , area = "" })">
                        Home
                    </a>
                </div>



                <span class="btn-header-order-wrapper">
                    @Html.ActionLink("New Lead", "Index", "Order", new { area = "" }, new { @class = "btn btn-success" })
                </span>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-collapse collapse navbar-collapse-leadgen">

                    <ul class="nav nav-pills nav-justified">
                        <li role="presentation" class="@(cmsContext?.urlPath.ToString() == link1URL.Trim('/').ToLower() ? "active" : "")"><a href="@link1URL">@link1Text</a></li>
                        <li role="presentation" class="@(cmsContext?.urlPath.ToString() == link2URL.Trim('/').ToLower() ? "active" : "")"><a href="@link2URL">@link2Text</a></li>
                        <li role="presentation" class="@(cmsContext?.urlPath.ToString() == link3URL.Trim('/').ToLower() ? "active" : "")"><a href="@link3URL">@link3Text</a></li>
                        <li role="presentation" class="@(cmsContext?.urlPath.ToString() == link4URL.Trim('/').ToLower() ? "active" : "")"><a href="@link4URL">@link4Text</a></li>
                    </ul>

                </div>

            </div>



        </div>
    </nav>

    @if (ViewContext.RouteData.Values["controller"].ToString() == "CMS")
    {
        <div class="container body-content">
            <div class="row">
                @if (IsSectionDefined("Sidebar"))
                {
                    <div class="col-lg-9 col-sm-9 col-xs-12">
                        @RenderBody()
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        @RenderSection("Sidebar", false)
                    </div>
                }
                else
                {
                    <div class="col-xs-12">
                        @RenderBody()
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        @RenderBody()
    }

    <div id="LoadingWindowSplash">
        <img id="LoadingWindowSplashImage" src="~/images/spinner-icon.gif" />
    </div>

    <hr />

    

    <footer class="container">
        <p class="copyright">&copy; @DateTime.UtcNow.Year - @Html.ActionLink("WineCellars.pro", "Index", "CMS", new { area = "" }) - smart way of ordering wine cellars. @Html.ActionLink("Submit your wine cellar order", "Index", "Order", new { area = "" }) now. Receive quotes from wine cellar companies. Choose the best one offer you.</p>
        @Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "btn btn-default btn-login", rel = "nofollow" })
    </footer>

    <script src="~/lib/node_modules/moment/min/moment.min.js"></script>
    <script src="~/lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/node_modules/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/node_modules/bootbox/bootbox.min.js"></script>
    <script src="~/lib/node_modules/bootstrap-datetimepicker-npm/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/node_modules/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="~/js/LeadGen.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>