@using LeadGen.Code.Taxonomy
@using LeadGen.Web.Helpers
@using LeadGen.Code.CMS
@{ 
    CMSContext cmsContext = ViewBag.cmsContext != null ? ViewBag.cmsContext : new CMSContext(this.ViewContext, CMSContext.PageType.SystemMiniPage);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @RenderSection("SEO", required: false)
    <link href="~/css/style-public-bundle.min.css?@Html.AssemblyBuildTimeStamp()" rel="stylesheet" />
    @if (Html.IsDebug())
    {
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/order.css" rel="stylesheet" />
    }
    @Html.Raw(LeadGen.Code.Helpers.SysHelper.AppSettings.CMSSettings.HtmlHeadInjection)
    @RenderSection("CustomCSS", required: false)
</head>
<body class="@cmsContext.BodyClass">
    @{
        string link1URL = Url.Action("Index", "CMS", new { urlPath = "how-to-store-wine", area = "" });
        string link1Text = "How To Store Wine";
        string link2URL = Url.Action("Index", "CMS", new { urlPath = "wine-cellars", area = "" });
        string link2Text = "Wine Cellars";
        string link3URL = Url.Action("Index", "CMS", new { urlPath = "comapnies", area = "" });
        string link3Text = "Companies";
        string link4URL = Url.Action("Index", "CMS", new { urlPath = "order", area = "" });
        string link4Text = "Order wine cellar";

        


        bool showOrderButtonInHeader = !(string.IsNullOrEmpty(cmsContext.urlPath) || Context.Request.Path.StartsWithSegments("/order"));
    }

    <nav class="navbar navbar-default navbar-leadgen" role="navigation">
        <div class="container">
            <div class="navbar-header">



                <div class="navbar-brand">
                    <a title="Home" href="@Url.Action("Index", "CMS", new { urlPath = "" , area = "" })">
                        Home
                    </a>
                </div>


                @if (showOrderButtonInHeader)
                {
                    <span class="btn-header-order-wrapper">
                        @Html.ActionLink("Order wine cellar", "Index", "order", new { area = "" }, new { @class = "btn btn-success" })
                    </span>
                }



                <div class="navbar-collapse collapse navbar-collapse-leadgen">

                    <ul class="nav nav-pills nav-justified">
                        <li role="presentation" class="@(cmsContext?.urlPath.ToString() == link1URL.Trim('/').ToLower() ? "active" : "")"><a href="@link1URL">@link1Text</a></li>
                        <li role="presentation" class="@(cmsContext?.urlPath.ToString() == link2URL.Trim('/').ToLower() ? "active" : "")"><a href="@link2URL">@link2Text</a></li>
                        <li role="presentation" class="@(cmsContext?.urlPath.ToString() == link3URL.Trim('/').ToLower() ? "active" : "")"><a href="@link3URL">@link3Text</a></li>
                        <li role="presentation" class="@(cmsContext?.urlPath.ToString() == link4URL.Trim('/').ToLower() ? "active" : "")"><a href="@link4URL" class="order_link">@link4Text</a></li>
                    </ul>

                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
        </div>
    </nav>

    @if (cmsContext.ControllerName == "cms")
    {
        <div class="container body-content">
            <div class="row">
                @if (IsSectionDefined("Sidebar"))
                {
                    <div class="col-lg-9 col-sm-9 col-xs-12">
                        @RenderBody()
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        @RenderSection("Sidebar", false)
                    </div>
                }
                else
                {
                    <div class="col-xs-12">
                        @RenderBody()
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="system-page-container-wrapper">
            @RenderBody()
        </div>
    }



<footer class="container">
    <hr />
    <div id="LoadingWindowSplash">
        <img id="LoadingWindowSplashImage" src="~/images/spinner-icon.gif" />
    </div>
    <p class="copyright">v7 &copy; @DateTime.UtcNow.Year - @Html.ActionLink("WineCellars.pro", "Index", "CMS", new { area = "" }) - smart way of ordering wine cellars. @Html.ActionLink("Submit your wine cellar order", "index", "order", new { area = "" }) now. Receive quotes from wine cellar companies. Choose the best one offer you.</p>
    @Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "btn btn-default btn-login", rel = "nofollow" })
</footer>

    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/lightbox2/js/lightbox.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/LeadGen.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>