@model IEnumerable<LeadGen.Code.CMS.Post>
@foreach (LeadGen.Code.CMS.Post post in Model)
{
    <div class="LeadGen-widget LeadGen-widget-@post.postURL">
        @*@if (string.IsNullOrEmpty(post.title) == false)
        {
        <h3>@post.title</h3>
        }*@
        @Html.Raw(post.contentIntro)
        @Html.Raw(post.contentPreview)
        @Html.Raw(post.contentMain)
        @Html.Raw(post.contentEnding)
    </div>
}
    
