@model LeadGen.Code.Login
@using (Ajax.BeginForm("LoginBusinessRegionsUpdate", null, new AjaxOptions { OnComplete = "LoginBusinessRegionsUpdateOnComplete" }, new { id = "BusinessRegionsRequestForm" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">Отметьте ТОЛЬКО те регионы, заявки из которых Вы сможете удовлетворять</div>
        <div class="panel-body BusinessRegions">
            <div class="panel-body BusinessRegions">
                <table>
                    <tr>
                        @{
                            int numOfColumns = 4;
                            int regionsPerColumn = (Model.business.regions.Count() / numOfColumns) - 1;
                            int numInColumn = 0;
                            string columnOpenTag = "<td>";
                            string columnCloseTag = "</td>";
                            bool columnOpened = false;

                            for (int i = 0; i < Model.business.regions.Count(); i++)
                            {
                                numInColumn++;
                                if (numInColumn == 1)
                                {
                                    @Html.Raw(@columnOpenTag)
                                    columnOpened = true;
                                };
                                @Html.EditorFor(x => x.business.regions[i])
                                if (numInColumn + 3 >= regionsPerColumn)
                                {
                                    @Html.Raw(columnCloseTag)
                                    columnOpened = false;
                                    numInColumn = 0;
                                };
                            }
                            if (columnOpened)
                            { @Html.Raw(columnCloseTag) };
                        }
                    </tr>
                </table>
                @Html.ValidationMessageFor(x => x.business.regions)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </div>
} 

<script>
        function BusinessRegionsRequestCheckboxClickEvent() {
            var $BusinessRegionsRequestForm = $("#BusinessRegionsRequestForm");
            $BusinessRegionsRequestForm.on("click", "input:checkbox", function () {
                if ($BusinessRegionsRequestForm.find("input:checkbox:checked").length > 0) {
                    // any one is checked
                    $BusinessRegionsRequestForm.find("input:submit").removeAttr('disabled');
                }
                else {
                    // none is checked
                    $BusinessRegionsRequestForm.find("input:submit").attr('disabled', 'disabled');
                }
            });
        }

        function LoginBusinessRegionsUpdateOnComplete(data) {
            if (data.hasOwnProperty('responseJSON') && data.responseJSON.hasOwnProperty('status') && data.responseJSON.status == "success") {
                bootbox.alert({
                    title: "Новые регионы успешно сохранены!",
                    message: "Запрос на обновление регионов успшно отправлен администраторам."
                });
            }
            else {
                bootbox.alert({
                    title: "Внимание, ошибка!",
                    message: "<p>В процессе обновления регионов возникла ошибка.</p><p>Пожалуйста свжитесь с администрацией ресурса.</p>"
                });
            }
        }


</script>

