@model LeadGen.Code.Taxonomy.Term
@using LeadGen.Code.Taxonomy
@{
    Taxonomy taxonomy = (Taxonomy)ViewBag.taxonomy;
}
<div class="modal fade" id="TermEditPopUp">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit <strong>@Model.name</strong> in @taxonomy.name</h4>
            </div>

            @using (Ajax.BeginForm("TermEdit", null, new { taxonomyID = taxonomy.ID }, new AjaxOptions { OnSuccess = "TermEditHandler" }))
            {
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            @Html.LabelFor(x => x.name)
                            @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.name)
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            @Html.LabelFor(x => x.termURL)
                            @Html.TextBoxFor(x => x.termURL, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.termURL)
                        </div>
                    </div>

                    @if (taxonomy.isTag == false)
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.LabelFor(x => x.parentID)
                                @Html.DropDownListFor(x => x.parentID, new SelectList(taxonomy.termList, "ID", "nameDashed"), "Top Level", new { @class = "form-control" })
                            </div>
                        </div>
                    }


                </div>

                    <div class="modal-footer">
                        @Html.HiddenFor(x=> x.ID)
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" style="width:126px">Edit</button>
                    </div>
            }

        </div>
    </div>
</div>


<script>
    var popUpID = "TermEditPopUp";

    //Validate dynamicly added form
    $.validator.unobtrusive.parse("#" + popUpID + " form")

    //Show modal form
    $("#" + popUpID).modal('show');

    function TermEditHandler(data, status, xhr) {

        //Romove modal-backdrop after previously shown modal panel
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        if (data.status == "success") {
            //Reload the page to display new term
            location.reload();
        }
        else {
            //Reload wrapper with new html
            $("#" + popUpID).parent().html(data)
        }

    }
</script>