@model Post
@using LeadGen.Code.CMS
@section SEO{@Html.DisplayFor(x => x.SEO)}
@section CustomCSS{@{Html.RenderPartial("DisplayTemplates/CustomCSS", Model.customCSS);}}
@{
    CMSContext cmsContext = ViewBag.CMSContext;
}

<article>
    <h1>@Model.title</h1>
    @Html.Raw(Model.contentIntro)
    @Html.Raw(Model.contentPreview)
    @Html.Raw(Model.contentMain)
    @Html.Raw(Model.contentEnding)
</article>

@{ Html.RenderPartial("_UnderArticleContent");}

@if (cmsContext.widgetsLayoutSidebarRight != null && cmsContext.widgetsLayoutSidebarRight.Any())
{
    @section Sidebar{
        @foreach (Post widget in cmsContext.widgetsLayoutSidebarRight)
        {
            Html.RenderPartial("Widgets/_WidgetLayout", widget);
        }
    }
}