@model Post
@using LeadGen.Code.CMS
@section SEO{@Html.DisplayFor(x => x.SEO)}
@section CustomCSS{@{await Html.RenderPartialAsync("DisplayTemplates/CustomCSS", Model.customCSS);}}
@{
    CMSContext cmsContext = ViewBag.CMSContext;
}

    <article class="box">
        <div class="title-group">
            <h5>WineCellars.PRO</h5>
            <h1>@Model.title</h1>
            <p class="line-mix star-group">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </p>
        </div>
        
        @Html.Raw(Model.contentIntro)
        @Html.Raw(Model.contentPreview)
        @Html.Raw(Model.contentMain)
        @Html.Raw(Model.contentEnding)
    </article>

@{ await Html.RenderPartialAsync("_UnderArticleContent");}

@if (cmsContext.widgetsLayoutSidebarRight != null && cmsContext.widgetsLayoutSidebarRight.Any())
{
    @section Sidebar{
        @foreach (Post widget in cmsContext.widgetsLayoutSidebarRight)
        {
            await Html.RenderPartialAsync("Widgets/_WidgetLayout", widget);
        }
    }
}