@model LeadGen.Code.Business.Billing

<div class="row">
    <div class="form-group col-xs-12">
        @Html.LabelFor(x => x.name)
        @Html.TextBoxFor(x => x.name, new { @class="form-control"})
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12">
        @Html.LabelFor(x => x.code1)
        @Html.TextBoxFor(x => x.code1, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12">
        @Html.LabelFor(x => x.code2)
        @Html.TextBoxFor(x => x.code2, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12">
        @Html.LabelFor(x => x.address)
        @Html.TextBoxFor(x => x.address, new { @class = "form-control" })
    </div>
</div>